<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-md-3">
    <div class="col-md-12" style="text-align:center">
      <!--<a class="col-3" routerLink="/postAdd" routerLinkActive="active">Post Add</a>-->
      <a class="col-3" routerLink="/login" routerLinkActive="active">login</a>
      <a class="col-3" routerLink="/register" routerLinkActive="active">Register</a>
      <!--<a class="col-3" routerLink="/mycart" routerLinkActive="active">myCart</a>-->
      <!--<a class="col-3" routerLink="/allAdds" routerLinkActive="active">All Adds</a>-->
    </div>
  </div>
  <div class="col-md-12">

    <router-outlet></router-outlet>

  </div>
</div>


